<h1>Welcome Page</h1>

<<h2>Current User:</h2>
	<h2><%= current_user %></h2>

<h3><%= link_to "Click here to go to secret page", show_secret_path %></h3>

<p></p>
<p></p>
<%= link_to 'Logout', logout_path %>

